:root{
    --element-spacing-m: 0.3rem;
    --element-spacing-l: 0.6rem;
}

.container{
    width: 100%;
    max-width: 100%;
}

.image-wrapper{
    display: inline-block;
    margin: 8px;
    background: #20374c;
    border: solid 2px transparent;
    box-shadow: 3px 3px 7px -4px #000000;
}

.image-wrapper .image-badges{
    margin-bottom: var(--element-spacing-m);
}

.image-wrapper .image-link{
    display: block;
    border: solid 1px #000;
}

.image-wrapper.selected,
.image-wrapper.upscaled.selected{
    background: #2c5d8a;
}

.image-wrapper.selected .image-link{
    border-color: #83e1ff;
}

.image-wrapper .image-thumbnail{
    display: block;
}

.image-wrapper .image-toolbar{
    margin-bottom: var(--element-spacing-m);
}

.image-wrapper.upscaled{
    background: #204c41;
}
.image-wrapper.favorite{
    border-color: #df6919;
}
.image-wrapper.forGallery,
.image-wrapper.favorite.forGallery{
    border-color: #cb00cc;
}

#image-search-field{
    width: 200px;
    display: inline-block;
    margin-left: 8px;
}

#image-search-field.focused{
    width: 300px;
}

#folder-selector{
    display:inline-block;
    width: 240px;
}

A.badge{
    text-decoration: none;
}

.filter-toolbar{
    margin-bottom: var(--element-spacing-l);
}

.filter-toolbar .btn-group{
    margin-right: 12px;
}

.filter-toolbar .btn-group .btn.label {
    margin-right: 2px;
}

#image-search .reset-filters{
    position: absolute;
    right:6px;
    top:7px;
    color:#555;
    z-index:900;
    cursor:pointer;
}

FOOTER.fixed-bottom{
    background: #20374c;
}

.image-wrapper .image-details{
    padding: 0.4rem;
    border: solid 1px transparent;
    border-top: none;
}

.image-wrapper.upscaled .image-details{
    border-color: #204c41;
}

.image-wrapper.upscaled.selected .image-details,
.image-wrapper.selected .image-details {
    border-color: #83e1ff;
}


.image-wrapper.size-s{
    font-size: 50%;
}

.image-wrapper.size-s .image-details{
    padding: 0.2rem;
}

.image-wrapper.size-s .btn{
    --bs-btn-padding-y: .15rem;
    --bs-btn-padding-x: .3rem;
    --bs-btn-font-size: .45rem;
}

.image-wrapper.size-s .image-thumbnail{
    width: 200px;
}

.image-wrapper.size-m{
    font-size: 80%;
}

.image-wrapper.size-m .image-details{
    padding: 0.3rem;
}

.image-wrapper.size-m .btn{
    --bs-btn-padding-y: .25rem;
    --bs-btn-padding-x: .45rem;
    --bs-btn-font-size: .65rem;
}

.image-wrapper.size-m .image-thumbnail{
    width: 300px;
}

.image-wrapper.size-l .image-thumbnail{
    width: 400px;
}

.image-wrapper.size-xl .image-thumbnail{
    width: 540px;
}

#size-selector{
    margin-bottom: var(--element-spacing-m);
}

#status-bar{
    background: #0f5383;
    border: solid 1px #389fe4;
    color: #fff;
    padding: 0.7rem;
    position: fixed;
    top: 6rem;
    left: 0;
    width: 100%;
    z-index: 1000;
}

IMG.detail-image{
    max-width: 24rem; /* Avoid upscaling */
    width: auto;
    display: inline-block;
    border: solid 1px #000;
}

.badge-toggle.toggle-enabled{
    display: inline-block;
}

.badge-toggle.toggle-disabled{
    display:none;
}

#filter-toggles{
    margin-bottom: var(--element-spacing-l);
}

.spacing-left{
    margin-left: var(--element-spacing-l);
}

.mono{
    font-family: monospace;
}

TD.property-column{
    width: 12rem;
}
